/* @import "GithubMarkdownDark.css"; */
@import url("https://vistron-gmbh.github.io/Vistron.PublicResources/GithubMarkdownDark.css");

var {
    color: purple;
}

indent {
    margin-left: 20px;
}

remark {
    color: orange;
}